/*
COLORS:

Light green: #7ed56f
Medium green: #216583
Dark green: #293462
font-colFor: #f76262
other: #fff1c1; 
*/
@import "./abstract/variables";
@import "./abstract/mixins";
@import "./layout/header";
@import "./layout/grid";
@import "./layout/footer";
@import "./base/animations";
@import "./base/base";
@import "./base/utilities";
@import "./base/typography";
@import "./pages/home";
@import "./components/button";
@import "./components/profile";
@import "./components/form";
@import "./components/testimonial";
@import "./components/composition";