/*
COLORS:

Light green: #7ed56f
Medium green: #216583
Dark green: #293462
font-colFor: #f76262
other: #fff1c1; 
*/
.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), #199ff9c0), url("../assests/dating-bg.jpg");
  background-size: cover;
  background-position: center 80%;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%); }

.row {
  max-width: 150rem;
  margin: 0 auto;
  font-size: 2rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    height: 6rem;
    float: left;
    height: auto; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem)/3 + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem)/4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem)/4 + 2 * 6rem); }

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  80% {
    opacity: 1;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  80% {
    opacity: 1;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.body {
  box-sizing: border-box;
  background: #000; }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

#logo {
  height: 60px;
  fill: azure; }

.u-items-center {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 10rem; }

.font-bold {
  font-weight: bold; }

.inline-block {
  display: inline-block; }

.text-center {
  text-align: center; }

body {
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  padding: 30px;
  font-family: 'Lato', sans-serif; }

.heading {
  backface-visibility: hidden;
  margin-bottom: 50px; }
  .heading__container {
    top: 40%;
    display: block;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    left: 50%;
    text-align: center; }
  .heading__text {
    font-size: 2.1rem;
    text-transform: uppercase; }

.heading-primary {
  font-size: 10rem;
  animation-name: leftToRight;
  animation-duration: .3s;
  letter-spacing: .6rem; }

.heading-primary,
.heading-secondary {
  text-transform: uppercase;
  display: block; }

.heading-secondary {
  font-size: 3rem;
  letter-spacing: 1rem;
  animation-name: rightToLeft;
  animation-duration: .3s; }

.paragraph {
  font-size: 1.7rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.section__info {
  background: #f7f7f7;
  padding: 20rem 0; }

.section__heading--secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  color: transparent;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700; }
  .section__heading--secondary span {
    display: block; }
  .section__heading--secondary:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.87));
    background-clip: text;
    -webkit-background-clip: text; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.8);
  opacity: 0; }

.btn:link,
.btn :visited {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 65px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.1s;
  position: relative; }

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  color: #333;
  background-color: #ffffff; }

.btn-white::after {
  background: #fff; }

.btn-animated {
  animation: bottomUp 0.3s ease-out 0.2s backwards; }

.btn-colored {
  color: #fff;
  background-color: #199ff9c0; }

.btn-colored::after {
  background: #199ff9c0; }

.btn--profile {
  margin-top: 8rem; }

.profile__section {
  padding: 18rem 0;
  text-align: center; }
  .profile__section h2 {
    display: inline-block; }

.profile {
  font-size: 2rem;
  background: white;
  height: 40rem; }
  .profile__image {
    background-size: cover;
    width: 100%;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    object-fit: cover;
    height: 100%;
    transition: all .3s; }
  .profile--name {
    font-size: 2.1rem;
    text-transform: uppercase; }
  .profile:hover .profile__image {
    transform: translateY(-0.4rem) scale(1.05);
    box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .profile:active .profile__image {
    transform: translateY(0rem) scale(1);
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.4); }

.testimonial {
  padding: 18rem 0; }
  .testimonial__section {
    text-align: start;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 6rem;
    padding-left: 9rem;
    margin: 0 auto;
    transform: skewX(-12deg);
    transition: all .2s;
    backface-visibility: hidden; }
  .testimonial--portrait {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center center;
    transition: all .2s;
    transform: scale(1.1);
    background-size: cover;
    backface-visibility: unset; }
  .testimonial--caption {
    color: white;
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    transition: all .2s;
    opacity: 0; }
  .testimonial__image {
    background: rgba(34, 51, 51, 0.568);
    width: 15rem;
    position: relative;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    height: 15rem;
    float: left; }
  .testimonial__content {
    font-size: 2rem;
    transform: skewX(12deg); }
    .testimonial__content--text {
      font-size: inherit; }
  .testimonial__section:hover .testimonial--portrait {
    filter: blur(10px) brightness(95%);
    transform: scale(1); }
  .testimonial__section:hover .testimonial--caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.composition {
  position: relative; }
  .composition__image {
    width: 55%;
    position: absolute;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    z-index: 0; }
    .composition__image--1 {
      top: -4rem;
      left: 0; }
    .composition__image--2 {
      top: 1rem;
      right: 2%; }
    .composition__image--3 {
      top: 10rem;
      left: 15%; }
    .composition__image:hover {
      transform: scale(1.05);
      z-index: 20;
      transform: translateY(-0.8rem);
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
      filter: brightness(100%); }
  .composition:hover .composition__image:not(:hover) {
    transform: scale(0.95);
    filter: brightness(50%) blur(2px); }
