$color-pink-dark: #4bcefad7;
$color-pink-light: #199ff9c0;
$color-black: #000;
$color-gray-1: #f7f7f7;
// Grid
$grid-width: 150rem;
$default-font-size: 2rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 5rem;
// Sizes
$header-height: 95vh;