$color-primary: #EF4A76;
$color-black: #000;
$color-gray-1: #f7f7f7;
$color-gray-2: #999; // Grid
$color-green-1: #39B09E;
$grid-width: 150rem;
$default-font-size: 2rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 5rem;
$color-dark: #2A3747;
// Sizes
$header-height: 95vh;