.profile__section {
    padding: 18rem 0;
    text-align: center;

    h2 {
        display: inline-block;

    }
}

.profile {
    font-size: 2rem;
    background: white;
    height: 40rem;

    &__image {
        background-size: cover;
        width: 100%;
        box-shadow: 0rem 0rem 2rem rgba($color: #000000, $alpha: 0.4);
        border-radius: 2rem;
        object-fit: cover;
        height: 100%;
        transition: all .3s;

    }

    &--name {
        font-size: 2.1rem;
        text-transform: uppercase;
    }

    &:hover &__image {
        transform: translateY(-.4rem) scale(1.05);
        box-shadow: 0rem 0rem 4rem rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;
    }

    &:active &__image {
        transform: translateY(0rem) scale(1);
        box-shadow: 0rem 0rem 3rem rgba($color: #000000, $alpha: 0.4);
    }
}