.testimonial {
    padding: 15rem 0;
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../../assests/test-bg.jpg");
    background-size: cover;

    h2 {
        color: $color-dark;
    }

    &__section {
        text-align: start;
        box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: 0.1);
        width: 50%;
        padding: 6rem;
        padding-left: 9rem;
        background: white;
        margin: 0 auto;
        transform: skewX(-12deg);
        transition: all .2s;
        backface-visibility: hidden;

        @include respond(tabPort) {
            width: 90%;
            padding-left: 4rem;
            padding-right: 4rem;
            transform: skewX(0deg);
        }
    }

    &--portrait {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center center;
        transition: all .2s;
        transform: scale(1.10);
        background-size: cover;
        backface-visibility: unset;
    }

    &--caption {
        position: absolute;
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, 20%);
        text-align: center;
        text-transform: uppercase;
        backface-visibility: hidden;
        transition: all .2s;
        opacity: 0;
    }


    &__image {
        background: rgba(34, 51, 51, 0.568);
        width: 15rem;
        position: relative;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);

        @supports(clip-path: polygon(0, 0)) {
            border-radius: 50%;
        }

        @include respond(tabPort) {
            transform: translateX(0rem) skewX(0);
            // padding: 0 20rem;
            margin-right: 2rem
        }

        @include respond(tabPort) {
            transform: translateX(0rem) skewX(0);
            // padding: 0 20rem;
            margin-right: 1.5rem
        }

        height: 15rem;
        float: left;
    }

    &__content {
        font-size: 2rem;

        transform: skewX(12deg);

        @include respond(tabPort) {
            transform: skewX(0deg);
        }

        &--text {
            font-size: inherit;
        }
    }

    &__section:hover &--portrait {
        filter: blur(10px) brightness(95%);
        transform: scale(1);
    }

    &__section:hover &--caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

}