.header {
    height: $header-height;
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(black, 0.4)), url("../../assests/dating-bg-2x.jpg");

    @include respond(tabPort) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(black, 0.4)), url("../../assests/dating-bg-1x.jpg");

    }

    background-size: cover;
    background-position: center 80%;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
}